@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    form {
        width: 50%;
        margin: 20px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    form input {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    form button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    form button:hover {
                transform: scale(1.05);
    }
</style>

<form asp-action="AddUser" method="post">
    <!-- Input fields for device properties -->
    <input type="text" name="Id" placeholder="Id " required />
    <input type="text" name="FullName" placeholder="FullName" required />
    <input type="text" name="Email" placeholder="Email " required />
    <input type="text" name="PhoneNumber" placeholder="Phone Number" required />
    <button type="submit">Add</button>
</form>
